<div class="col-md-8 col-md-offset-2">
  <h2 class="sign-up-title">Register for Pill Bank</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <div class="form-group">
            <label for="firstName">Emergency Contact Phone Number</label>
            <input
                    type="tel"
                    id="Emergency Contact"
                    class="form-control"
                    formControlName="emergencyContact">
        </div>

        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid" [routerLink]="['/auth/timer']">Submit</button>
        <div class="etc-login-form">
          <!-- <div class="forgot-Password">
            <a (click)="forgotPassword()">Forgot your password?</a>
          </div> -->
          <div class="already-have" *ngIf="!isLoggedIn()">Already have an account?</div>
          <div class="btn btn-primary signin" *ngIf="!isLoggedIn()" [routerLink]="['/auth/signin']">Sign in</div>
          <div class="btn btn-primary logout" *ngIf="isLoggedIn()" [routerLink]="['/auth/logout']">Log out</div>
        </div>
    </form>
</div>
